<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Squidsoft.KSP.Skeleton.Assembly-CSharp" version="1.5.0" targetFramework="net35" />
  <package id="Squidsoft.KSP.Skeleton.UnityEngine" version="1.5.0" targetFramework="net35" />
  <package id="Squidsoft.KSP.Skeleton.UnityEngine.UI" version="1.5.0" targetFramework="net35" />
</packages>